@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer @ViewData["Developer"]</p>

<address>
    <strong>More Information:</strong><br />
    E-mail: <a href="mailto:@ViewData["Email"]">@ViewData["Email"]</a>
</address>
